/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0px;
    background: #f8f8f8;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 13px;
    background: #ebebeb00;
}
::-webkit-scrollbar-thumb {
    background: #673ab7;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    &:hover {
        background: #9264e0;
    }
}
*::selection {
    background: #ffd740;
}