.wrapper{
    padding:15px 30px;
}
h2{
    font-size: 25px;
}
.fieldContainer {
    max-width: 600px;
    width: 80%;
    margin: 0px auto 15px;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.3);
    height: 60vh;
    padding: 25px 15px 0px 15px;
    overflow: auto;
    border-radius: 6px;
}
#messagesField {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 76%;
}
.botMessageWrapper {
    text-align: left;
    width: 100%;
    color: white;
    margin: 12px 0px;
}
.userMessageWrapper {
    text-align: right;
    width: 100%;
    color: white;
    margin: 12px 0px;
}
.botMessage {
    padding: 9px 12px;
    background-color: rgb(116, 49, 49);
    line-height: 1.7;
    border-radius: 12px 12px 12px 0px;
    font-size: 16px;
    display: inline-block;
}
.userMessage {
    padding: 9px 12px;
    background-color: rgb(38, 121, 31);
    line-height: 1.7;
    border-radius: 12px 12px 0px 12px;
    font-size: 16px;
    display: inline-block;
}
#input {
    margin: 0px auto;
    width: 100%;
    margin-right: 6px;
    display: block;
    border-radius: 7px;
    border: 1px solid rgba(128, 128, 128, 0.24);
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.15);
    padding: 10px 10px;
    outline: none;
    font-size: 16px;
    &:focus {
        box-shadow: 0px 0px 6px 1px #673ab7;
    }
}
.inputOutputBlock {
    margin: 0px auto;
    max-width: 626px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imageOnBack {
    background: 50% 0% / auto url("../../../assets/pepe.jpg");
}
.defaultQuestionWrapper {
    margin: 5px 0px !important;
}
.defaultQuestion {
    background: white;
    color: black;
    border: 1px solid #673ab7;
    cursor: pointer;
    line-height: 1 !important;
}
@media (max-width: 425px) {
    .defaultQuestion {
        font-size: 14px !important;
    }
}
mat-icon {
    scale: 0.8;
    margin-bottom: -4px;
}

::-webkit-scrollbar {
    width: 6px;
    background: #ebebeb00;
}
::-webkit-scrollbar-thumb {
    background: #673ab7;
    border-radius: 10px;
    border: 3px solid transparent;
    &:hover {
        background: #9264e0;
    }
}
