.example-card {
    width: 300px;
    margin: 0px 20px;
    height: 465px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2) !important;
}
@media (max-width: 375px) {
    .example-card {
        height: 460px;
    }
}
@media (max-width: 375px) {
    .example-card {
        width: 275px;
        margin: 0px;
    }
}
.likeButton {
    color: rgb(236, 8, 8);
}
.title {
    flex: 0 0 65px;
    font-size: 14px !important;
}
.mt6 {
    margin-bottom: 6px;
}
.space {
    flex: 1 1 auto;
}
.overImg {
    position: absolute;
    bottom: -8px;
    height: 28px !important;
    margin: 0px;
    font-size: 14px;
}
.timeBlock {
    right: 9px;
    padding: 0px;
}
.calBlock {
    left: 9px;
    padding: 0px 3px;
}
.imageWrapper {
    position: relative;
    margin-bottom: 10px;
    img {
        max-height: 180px;
        width: 100%;
        object-fit: cover;
    }
}
.center {
    margin: 0px auto;
    padding: 2px 32px;
}

.ingridientOption {
    span {
        font-size: 14px !important;
        height: 15px !important;
        line-height: 1 !important;
    }
}
.mat-mdc-card-title {
    font-size: 17px !important;
}
